*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #ffffb3;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#e4de66;
    color: black;

}

.brand-title{
    font-size: 100px;
    margin: .5rem;
    font-family:arial;
    margin-left: 5%;
    padding-top:2%;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 5px black;
}

.navbar-brand-title{
    background-color: #82b74b;
    margin-top:-2%;
    margin-bottom:-1%;
    height:200px
}

.navbar-links ul{
    margin:0;
    padding:0;
    display:flex;
}

.navbar-links li a{
    text-decoration:none;
    color:black;
    padding: 1rem;
}
.navbar-links li{
    list-style: none;
    font-size: 25px;
    font-family: helvetica;
    padding-top:1rem;
    padding-bottom:1rem;
    display:block;
}

.navbar-links a:hover{
    background-color:#4CAF50;
    transition-duration: 0.2s;
}


.navbar-links2 ul{
    margin:0;
    padding:0;
    display:flex;
}

.navbar-links2 li a{
    text-decoration:none;
    color:black;
    padding: 1rem;
}
.navbar-links2 li{
    list-style: none;
    font-size: 25px;
    font-family: helvetica;
    padding-top:1rem;
    padding-bottom:1rem;
    display:block;
}

.navbar-links2 a:hover{
    background-color:#4CAF50;
    transition-duration: 0.2s;
}


.toggle-button{
    position:absolute;
    top: 12.5rem;
    right: 50vw;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.line{
    position: absolute;
    display:flex;
    margin-left: 18.5%;
    padding-bottom: 1%;
    font-size: 1.3rem;
    font-family: helvetica;
    color:antiquewhite;
}


.searchButton{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width:55px; 
    height: 40px

}

.job_queries{
    margin-top: -3rem;  
    float: left;
    width: 400px;
    height: 60px;
}

.job_queries ul{
    display: inline;
}

.job_queries ul li{
    display: inline-block;
}
.searchButton{
    background-image: url("search.png");
    background-size: 3rem 2.2rem ;
}

button{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

button a{
    margin-left: -3px;
    margin-bottom: -5px;
    width: 25px; 
    height:25px;
    text-align: center;
    font-size: 18px;
    background-size: cover;
}


.fontForTopLinks{
    font-size: 25px;
    color:antiquewhite;
    text-decoration: none;
    font-family: helvetica;
}


#login{
    margin-top: 30px;
    text-decoration: none;
    padding-right: 1rem;
}

#create_account{
    margin-top: 30px;
    text-decoration: none;
    margin-right: 6rem;
}

#divider{
    margin-top: 30px;
    margin-right: 5rem;
}


.navbar_with_login_ca{
    display:none;
}



.navbar-links2{
    display: none;
}


@media (max-width: 541px){

   .job_queries{
        margin-top: 5rem;  
        margin-left: 50%;
        height: 10px;
        width: 100%; /* ie8 */
        
    }

    .line{
        display: none;

    }


    .brand-title{
        margin-top:-3%;
        margin-bottom:-15%;
    }

    .navbar-brand-title{
        margin-bottom:-8.5%;
    }

    .toggle-button{
      position:absolute;
      top: 9.5rem;
      right: 50vw;
    } 

}  


@media (max-width: 539px){

    .line{
        display: none;
    }

    .brand-title{
        font-size: 90px;
    }
}   


@media (max-width: 500px){

   .job_queries{
        margin-top: 1rem;  
        float: right;
        width: 400px;
        height: 60px;
    }

   .line{
       display: none;
   }

  .toggle-button{
       position:absolute;
       top: 6.5rem;
       right: 50vw;
  }  

  .navbar-brand-title{
        background-color: #82b74b;
        margin-top:-3%;
        margin-bottom: 0%;
        height:100px
  }

   .brand-title{
        margin-top: -2%;
        font-size: 75px;
        margin: .5rem;
        font-family:arial;
        /*margin-left: 5%;*/
        padding-top:2%;
        padding-bottom:5%;
        font-weight: bold;
        color: white;
        -webkit-text-stroke: 5px black;
        text-align:center;
    }
}


@media (max-width: 400px){


    .line{
        display: none;
    }

   .navbar-brand-title{
        background-color: #82b74b;
        margin-top:-3%;
        margin-bottom:-1%;
        height:100px
    }


   .brand-title{
        margin-top: -2%;
        font-size: 60px;
        margin: .5rem;
        font-family:arial;
        /*margin-left: 5%;*/
        padding-top:2%;
        font-weight: bold;
        color: white;
        text-align:center;
        -webkit-text-stroke: 4px black;
    }

}

@media (max-width:365px){

    .job_queries{
        margin-top: 1rem;
        margin-left: 1rem;  
        float: right;
        width: 80px;
        height: 30px;
    }


    .job_queries ul{
        /*display: inline;*/

        display:grid;
    }

    .job_queries ul li{
        /*display: inline-block;*/
        display:inline-grid;
        width:120px;
        margin-left: 4rem;
    }

    .searchButton{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width:50px; 
        height: 40px;
        margin-left: 10rem;
        margin-top:-40px;
    }
}

@media (max-width: 300px){

    .line{
        display: none;
    }

    .toggle-button{
        position:absolute;
        top: 5.4rem;
        right: 50vw;
    }  

   .navbar-brand-title{
        margin-top:-4%;
        margin-bottom: -10%;
    }

   .brand-title{
        margin-top: -2%;
        font-size: 45px;
        margin: .5rem;
        font-family:arial;
        /*margin-left: 5%;*/
        padding-top:2%;
        font-weight: bold;
        color: white;
        text-align:center;
        -webkit-text-stroke: 3px black;
    }

      .job_queries{
        margin-top: 1rem;
        margin-left: 1rem;  
        float: right;
        width: 80px;
        height: 30px;
    }


    .job_queries ul{
        /*display: inline;*/

        display:grid;
    }

    .job_queries ul li{
        /*display: inline-block;*/
        display:inline-grid;
        width:120px;
        margin-left: 8rem;
    }

    .searchButton{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width:50px; 
        height: 40px;
        margin-left: 10rem;
        margin-top:-40px;
    }


}

@media (max-width: 800px){
    .toggle-button{
        display: flex;
    }

    .navbar-links2{
        display: none;
        width: 100%;
    }

    .navbar-links{
        display:none;
    }

   
    /*Alterted*/
    .navbar{
        flex-direction: column;
        align-items: flex-start; 
        background-color:#e4de66;
        display: flex;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .navbar-links2 ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links2 li{
        text-align:center;
    }

    .navbar-links2 li a{
        padding: .5rem 1rem;
    }

    .navbar-links2.active{
        display: flex;
    }

     .job_queries{
        margin-top: 1rem;  
        margin-left:100px;
        width: 400px;
        height: 60px;
    }


    #login{
        display: none;
        text-decoration: none;
        padding-right: 1rem;
    }

    #create_account{
        display: none;
        margin-top: 30px;
        text-decoration: none;
        padding-right: 6rem;
    }

    #divider{
        display: none;
        margin-right: 5rem;
    }


}

@media (min-width:940px){
    .line{
        margin-top: 30px;
    }  
}

